@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #202030;
}


/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #39304A;
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 3em;
}

nav  ul {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

#logo, nav {
    line-height: 75px;
}

nav li a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

header img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1em;
    left: 1em;
}