@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #202030;
    background: #ebe6df;
}

a {
    color: #202030;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}
/* heading and logo */

header {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #39304A;
}

#logo {
    float: left;
    font-size: 230%;
    padding-left: 3.5em;
}

nav  ul {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

nav li {
    display: inline-block;
    margin-right: 25px;
}

#logo, nav {
    line-height: 75px;
}

.active {
    border-bottom: 1px solid black;
}

header img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1em;
    left: 1em;
}

/* hero image */

#hero-image {
    background: url('../images/hero-image.JPG') no-repeat center center;
    height: 800px;
    clear: both;
}

/* About Us */

#about-us {
    width: 70%;
    height: 300px;
    margin: -40px auto 0;
    background-color: #fff;
}

#about-us h1 {
    text-align: center;
    font-size: 280%;
    padding-top: 1rem;
}

#about-us > p {
    text-align: center;
    padding: 40px;
    line-height: 1.5em;
    letter-spacing: 1px;
}

/* Game Session */

#play-session {
    width: 70%;
    margin: 10px auto;
    display: inline-flex ;
}
.card {
    width:33%;
    height: 400px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    display: inline-block;
    
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;   
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}