@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}


/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}

#logo {
    float: left;
    font-size: 280%;
}
